<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" /> 
 <title>My Website - About</title>
</head>
<body>
    <img src="{{ url_for('static', filename='me.jpg') }}" />
 <h1>Rahiem Lampart</h1>
 <p>I am a final year student majoring in Computer Science at the University of the West Indies.
    My favourite topic within Computer Science is Artificial Intelligence. My hobbies include watching anime and writing fiction.
 </p>
</body>
</html> 